<!DOCTYPE html>
<html>
<head>
  <title>Task Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Inclua o CSS compilado -->
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
</head>
<body>
  <%= yield %>
</body>
</html>
